@model IEnumerable<ManagementSystem.Models.BatchDetail>

@{
    ViewBag.Title = "Index";
}
<style>
    th, td{
        text-align:center;
    }
</style>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NTT Data Talent Development Team", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "About", "Home")</li>
                    <li>@Html.ActionLink("Reports", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
</div>
<h2>Batch Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Training Module ID
        </th>
        <th>
            Business Unit Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.training_module_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrainingModule.business_unit_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.enddate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.training_module_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.training_module_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.training_module_id })
    </td>
</tr>
}

</table>
