@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                @Html.ActionLink("NTT Data Talent Development Team", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
    </div>
</div>

<div style="background-color:white;">
    <img src="~/Images/Dashboard.jpg", style="height:auto; max-width:100%;" />
</div>

<div class="row">
    <div class="col-md-6">
        <h1>Manage Detailes</h1>
        <p style="color:dimgray; font-size:medium;">Admin access only</p><br />
        <h4 style="color: #6b848c;">
            Add new info and Edit the Batch, Trainer and Associate Details here.
        </h4><br />
        <p><a class="btn btn-default" href="../Home/About" , style="background-color: #6b848c; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; ">Dashboard &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
    <div class="col-md-6">
        <h1>Generate Reports</h1>
        <p style="color: dimgray; font-size: medium;">Admin access only</p><br />
        <h4 style="color: #6b848c;">
            Show the Batch, Trainer and Associate reports here.
        </h4><br />
        <p><a class="btn btn-default" href="../Home/Contact" , style="background-color: #6b848c; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; ">Generate &raquo;</a></p>
    </div>
</div>